[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Sequential adaptive elastic net (SAEN) approach, complex-valued LARS solver for weighted Lasso/elastic-net problems, and sparsity (or model) order detection with an application to single-snapshot source localization.
[access "refs/*"]
	owner = group user/Muhammad Naveed Tabassum (mntabassm)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Muhammad Naveed Tabassum (mntabassm)
	label-Verified = -1..+1 group user/Muhammad Naveed Tabassum (mntabassm)
	push = group user/Muhammad Naveed Tabassum (mntabassm)
	read = group user/Muhammad Naveed Tabassum (mntabassm)
	rebase = group user/Muhammad Naveed Tabassum (mntabassm)
	removeReviewer = group user/Muhammad Naveed Tabassum (mntabassm)
	submit = group user/Muhammad Naveed Tabassum (mntabassm)
[access "refs/heads/*"]
	create = group user/Muhammad Naveed Tabassum (mntabassm)
	push = +force group user/Muhammad Naveed Tabassum (mntabassm)
	pushMerge = group user/Muhammad Naveed Tabassum (mntabassm)
	read = group user/Muhammad Naveed Tabassum (mntabassm)
[access "refs/tags/*"]
	push = group user/Muhammad Naveed Tabassum (mntabassm)
	push = +force group user/Muhammad Naveed Tabassum (mntabassm)
